.user {
  &-header {
    display: grid;
    padding: 0 20px;
    grid-template-columns: auto 1fr auto;
    grid-gap: 12px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
  }

  &-name {
    color: var(--color-mystic);
  }

  &-star {
    @extend %centered;
    justify-self: center;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(#{$baseUrl}asset/image/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;

    &::after {
      content: "8";
      position: absolute;
    }
  }

  &-progress__bar-container {
    grid-column: 1/4;

    .progressbar {
      margin-bottom: 10px;
    }
  }

  &-body {
    @extend %centered;
    flex-direction: column;
    padding: 20px 20px 0;

    &__hide {
      width: 100%;
    }

    &__score {
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      color: white;
    }

    .progressbar {
      margin-bottom: 5px;
    }

    &__top {
      margin-top: 5px;
      font-weight: bold;
      font-size: 14px;
    }

    &__bottom > span {
      font-size: 12px;
      color: var(--color-mischka);
    }

    &__top,
    &__bottom {
      @extend %space-between;
      color: white;
    }
  }

  &-footer {
    @extend %space-between;
    padding: 20px;
  }
}

#drop-down-user {
  display: none;

  &:checked ~ .user-body {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
