mixin label(size, icon, to)
    label(class=`label ${attributes.size}` for=attributes.to)
        if attributes.icon
            span(class=`icon-${attributes.icon}`)
        if block
            block