.tooltip {
  @extend %centered;
  position: absolute;
  top: -2px;
  right: -105px;
  height: 28px;
  width: 45px;
  padding: 0 24px;
  color: #000;
  background-color: #fff;
  border: 1px solid var(--color-trout);
  border-radius: 6px;
  opacity: 0;
  transition: 250ms;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -5px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 1px solid var(--color-gray);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    transform: rotateZ(-45deg);
  }
}
