:root {
  --color-mirage: #1b1a2d;
  --color-jade: #00bd71;
  --color-trout: #4f5168;
  --color-catskill-white: #f2f6f9;
  --color-mystic: #d5dee7;
  --color-varden: #fff6de;
  --color-mischka: #d9dde3;
  --color-gray: #808080;
  --color-cod-gray: #141414;
}
