extends _component/layout/base

block awesome-content
  include _component/mixin/progress-bar-mixin
  include _component/mixin/label-mixin
  include _component/mixin/tooltip-mixin
  include _component/mixin/button-mixin
  include _component/mixin/card-flash-corner
  include _component/side-bar/side-bar
  include _component/dashboard/dashboard
